@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: #9e9aa7;
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

/****** HELPER CLASSES ******/

.padding-vertical--4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.padding-vertical--6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.padding-horizontal--4rem {
  padding-left: 4rem;
  padding-right: 4rem;
}
.mg-top--2 {
  margin-top: 2rem;
}
.mg-top--4 {
  margin-top: 4rem;
}
.mg-top--8 {
  margin-top: 8rem;
}

/****** GENERAL CLASSES ******/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 120rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.heading-primary {
  font-size: 8.2rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -3px;
  color: var(--Very-Dark-Violet);
}
.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  color: var(--Very-Dark-Violet);
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 2rem;
}
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--Cyan);
  border-radius: 5rem;
  padding: 0.6em 1.6em;
  color: #fff !important;
  text-decoration: none;
  color: var(--Grayish-Violet);
}

.font-bold {
  font-weight: 700;
}

/****** NAVIGATION BAR ******/
.navbar {
  width: 100%;
}
.navbar__container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  max-width: 120rem;
}
.navbar__logo-box {
  margin-right: 8rem;
}
.navbar__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar__list--right-align {
  margin-left: auto;
}

.navbar__list-item {
  list-style: none;
  display: inline-block;
}
.navbar__link:link,
.navbar__link:visited {
  color: var(--Grayish-Violet);
  text-decoration: none;
  font-size: 1.6rem;
}

/****** HEADER ******/

.header__container {
  display: flex;
  position: relative;
}
.header__text {
  width: 55%;
}
.header__subheading {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--Grayish-Violet);
}
.header__btn:link,
.header__btn:visited {
  font-size: 2rem;
}
.header__ilustration-box {
  position: absolute;
  top: 0;
  right: 0;
}
.header__ilustration {
  transform: translateX(25rem);
}

/****** MAIN ******/
.main {
  margin-top: 20rem;
  padding-bottom: 20rem;
  background-color: #f0edf8;
}
/*Link shorter section*/

.link-shorter__box {
  padding: 6rem;
  background-color: var(--Dark-Violet);
  transform: translateY(-50%);
  border-radius: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  background-image: url(images/bg-shorten-desktop.svg);
  background-size: cover;
}
.link-shorter__input {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border: none;
  font-size: 2rem;
  color: var(--Grayish-Violet);
}
.link-shorter__input:focus {
  outline: none;
}
.link-shorter__input::placeholder {
  color: var(--Grayish-Violet);
}
.link-shorter__btn:link,
.link-shorter__btn:visited {
  font-size: 2rem;
  border-radius: 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.section__subheading {
  color: var(--Grayish-Violet);
  font-size: 1.8rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
}

/*Statistics Section*/

.statistics__cards-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
}

.statistics__cards-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--Cyan);
  height: 8px;
}
.card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  z-index: 4;
}
.card__icon-box {
  display: inline-block;
  padding: 2rem;
  background-color: var(--Dark-Violet);
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.card-2 {
  transform: translateY(4rem);
}
.card-3 {
  transform: translateY(8rem);
}
.card__icon {
  height: 100%;
  width: 100%;
}

.card__heading {
  font-size: 2.2rem;
  margin-top: 4rem;
}
.card__paragraph {
  font-size: 1.8rem;
  color: var(--Grayish-Violet);
}

/*CTA Cection*/
.section-CTA {
  background-color: var(--Dark-Violet);
  text-align: center;
  background-image: url(images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
}
.section-CTA__heading {
  color: #fff;
}

/*Footer*/
.footer {
  background-color: var(--Very-Dark-Violet);
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__links-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.footer__list {
  list-style: none;
}
.footer__list-social {
  display: flex;
  gap: 2rem;
}
.footer__heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.footer__list-item {
  margin: 1rem 0;
}
.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: var(--Grayish-Violet);
  font-size: 1.4rem;
}
.attribution {
  padding: 1rem;
  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  /* background-color: rgb(255, 255, 255, 0.2); */
  font-size: 1.6rem;
  text-align: center;
  color: #fff;
  border-radius: 10rem;
  margin-top: 4rem;
}
.attribution a:link,
.attribution a:visited {
  color: inherit;
}
