@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Red: hsl(0, 87%, 67%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: #9e9aa7;
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  overflow-x: hidden;
  font-size: 1.8rem;
}

/****** HELPER CLASSES ******/

.pd-vrt--4rem {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.pd-vrt--6rem {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pd-hor--4rem {
  padding-left: 4rem;
  padding-right: 4rem;
}
.mg-top--2 {
  margin-top: 2rem;
}
.mg-top--4 {
  margin-top: 4rem;
}
.mg-top--8 {
  margin-top: 8rem;
}
.mg-top--10 {
  margin-top: 10rem;
}

/****** GENERAL CLASSES ******/
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 120rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.heading-primary {
  font-size: 8.2rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -3px;
  color: var(--Very-Dark-Violet);
}
.heading-secondary {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 700;
  color: var(--Very-Dark-Violet);
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 2rem;
}
.section__subheading {
  color: var(--Grayish-Violet);
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
}
.btn:link,
.btn:visited {
  display: inline-block;
  background-color: var(--Cyan);
  border-radius: 5rem;
  padding: 0.6em 1.6em;
  color: #fff !important;
  text-decoration: none;
  transition: background-color 200ms ease-in-out;
}

.btn:hover,
.btn:active {
  background-color: #95e7e7;
}

.font-bold {
  font-weight: 700;
}
.right-align {
  margin-left: auto;
}

/****** NAVIGATION BAR ******/

.navbar__container {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar__logo-box {
  margin-right: 8rem;
  display: flex;
}

.navbar__list {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.navbar__list-item {
  list-style: none;
}
.navbar__link:link,
.navbar__link:visited {
  color: var(--Grayish-Violet);
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

.navbar__link:hover,
.navbar__link:active {
  color: var(--Very-Dark-Violet);
}

/****** HEADER ******/

.header__container {
  display: flex;
  position: relative;
}
.header__text {
  width: 55%;
}
.header__subheading {
  font-size: 2.4rem;
  color: var(--Grayish-Violet);
}
.header__btn:link,
.header__btn:visited {
  font-size: 2rem;
}
.header__ilustration-box {
  position: absolute;
  top: 0;
  right: -20rem;
}
/* .header__ilustration {
  transform: translateX(25rem);
} */

/****** MAIN ******/
.main {
  margin-top: 18rem;
  padding-bottom: 20rem;
  background-color: #f0edf8;
}
/*Link shorter section*/

.link-shorter {
  padding: 6rem;
  background-color: var(--Dark-Violet);
  transform: translateY(-50%);
  border-radius: 1rem;
  background-image: url(images/bg-shorten-desktop.svg);
  background-size: cover;
}
.link-shorter__box {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  position: relative;
}

.link-shorter__input {
  width: 100%;
  padding: 2rem;
  border-radius: 1rem;
  border: 3px solid transparent;
  font-size: 2rem;
  color: var(--Grayish-Violet);
  display: inline-block;
}
.link-shorter__input.error {
  border-color: rgb(217, 47, 20);
}
.link-shorter__input.error::placeholder {
  color: #e88272;
}

.link-shorter__input:focus {
  outline: none;
}
.link-shorter__input::placeholder {
  color: var(--Grayish-Violet);
}
.link-shorter__btn:link,
.link-shorter__btn:visited {
  font-size: 2rem;
  border-radius: 1rem;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.error-msg {
  position: absolute;
  visibility: hidden;
  color: rgb(217, 47, 20);
  font-style: italic;
}

.shortened-link__container {
  margin-top: -5rem;
}
.shortened-link__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}
.short-link__box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.long-link:link,
.long-link:visited {
  text-decoration: none;
  color: var(--Very-Dark-Violet);
}
.short-link:link,
.short-link:visited {
  text-decoration: none;
  color: var(--Cyan);
}
.copy-link__btn:link,
.copy-link__btn:visited {
  font-size: 1.4rem;
  border-radius: 0.5rem;
  white-space: nowrap;
}
.copied-link {
  background-color: var(--Dark-Violet);
}
/*Statistics Section*/

.statistics__cards-container {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  position: relative;
}

.statistics__cards-container::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  background-color: var(--Cyan);
  height: 8px;
}
.statistics__card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  position: relative;
  z-index: 4;
}
.statistics__card--2 {
  transform: translateY(4rem);
}
.statistics__card--3 {
  transform: translateY(8rem);
}
.card__icon-box {
  background-color: var(--Dark-Violet);
  padding: 2.4rem;
  display: flex;
  border-radius: 50%;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}
.card__icon {
  height: 100%;
  width: 100%;
}
.card__heading {
  font-size: 2.2rem;
}
.card__paragraph {
  color: var(--Grayish-Violet);
}

/****** CTA SECTION ******/
.section-CTA {
  background-color: var(--Dark-Violet);
  text-align: center;
  background-image: url(images/bg-boost-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 2rem;
}
.section-CTA__heading {
  color: #fff;
}

/****** FOOTER *****/
.footer {
  background-color: var(--Very-Dark-Violet);
  color: #fff;
  position: relative;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__links-box {
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.footer__list {
  list-style: none;
}
.footer__heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
.footer__list-item {
  margin: 1rem 0;
}
.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: var(--Grayish-Violet);
  font-size: 1.4rem;
  transition: color 200ms ease-in-out;
}
.footer__link:hover,
.footer__link:active {
  color: var(--Cyan);
}

.footer__link:link path,
.footer__link:visited path {
  transition: fill 200ms ease-in-out;
}
.footer__link:hover path,
.footer__link:active path {
  fill: var(--Cyan);
}

.footer__list-social {
  display: flex;
  gap: 2.4rem;
}

.attribution {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1.6rem;
  text-align: left;
  color: #fff;
  color: #fff;
  padding: 0 2rem;
}
.attribution a:link,
.attribution a:visited {
  color: inherit;
}
